.prof-pic {
    width: 15vw;
    border-radius: 15vw;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 2vh;
    align-items: center;
    margin-left: 5vw;
}

.prof-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 2vw;
    text-align: left;
}

.grid-profile {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 10px;
    margin-left: 40px;
    justify-content: center;
}

@media screen and (min-width:501px) and (max-width: 800px) {
    .grid-profile {
        grid-template-columns: repeat(2, 1fr);
    }
}