.nav-link {
    text-decoration: none;
    color: white;
}
.nav-link:hover {
    color: #1DB954;
}

.App-link {
    color:#1DB954;
}

.App-link:hover {
    color:#1DB954;
}

.icon {
    width: 30px;
}

.smaller-icon {
    width: 26px;
}
