.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form-check {
    padding-right: 5px;
}

.new-post {
    padding-left: auto; 
    padding-right: auto;
}

.btn-submit {
    background-color: #1DB954;
    border-color: #1DB954;
    color: white;
    border: none;
    border-radius: 2px;
}

.btn-submit:hover {
    background-color: #1DB954;
    border-color: #1DB954;
    color: white;
}