.post-comment {
    background-color: #1DB954;
    border-color: #1DB954
}

.post-comment:hover {
    background-color: #1db954;
    border-color: #1db954
}

.like {
    background-color: #121212;
    border-radius: 0;
    border-color: #121212;
    border: solid 2px #121212;
}

.heart {
    width: 20px;
}

.actual-image {
    width: 24.5vw;
}

.post {
    border: 3px solid #181818;
    width: 25.2vw;
    border-radius: 5px;
    margin-top: 20px;
}


.rating {
    margin-left: 3px;
    /* font-family: 'Gotham';
    font-weight: bold; */
}
.star-img {
    width: 20px;
    margin-left: 3px;
    margin-bottom: 2px;
}
.bolded { font-weight: bold; }

.comment {
    width: 20px;
    margin-left: -10px;
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
    /* font-family: 'Gotham';
    font-weight: bold; */
}

.comment-text {
    margin-left: 5px;
}

.item-wrapper {
    text-align: left;
    margin-left: 10px;
}

.submit-comment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.submit-button {
    height: 20px;
}

.form-control {
    width: 25vw;
    height: 35px;
    border-radius: 0px;
    border: 0px;
    font-size: 12px;
}

.post-comment {
    background-color: white;
    color: #1DB954;
    margin-left: -6vw;
    margin-top: 2px;
}

.btn-primary {
    background-color: white;
    border-color: white;
}

.btn-primary:hover {
    background-color: white;
    border-color: white;
    color: #1DB954;
}

.textarea {
    display: flex;
}

.song-title {
    font-weight: bold;
    margin-bottom: 1px;
    background-color: #181818;
    font-family: 'Gotham';
    font-size: 20px;
}

