.pie-chart {
    width: 500px;
    position: relative;
    top: -8vh;
    margin-left: 1vw;
}
tspan {
    fill: white;
} 

.list {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-left: 5vw;
    position: relative;
    margin-top: 2vh;
}

.top {
    display: flex;
    flex-direction: row;
}

.time-select {
    background-color: #1DB954;
    border-radius: 5px;
    color: white;
    border: 0px;
    z-index: 100;
    font-size: 2vw;
}

.stat-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    z-index: 100;
    
}

.line-graph {
    margin-bottom: 100px;
}

.loading {
    display: flex; 
    justify-content: center;
}