.song {
    display: flex;
}

.song  {
    background-color: #181818;
    padding: 3px;
    margin-left: 20px;
}
.active{
    background-color: #1DB954;
    border-radius: 10px;
}

.description-rec-card {
    display: flex;
    flex-direction: column;
    font-family: 'Gotham';
    justify-content: center;
    text-align: left;
    margin-left: 12px;
}

.search-img {
    width: 50px;
    border-radius: 8px;
}